//$bootstrap-path: "./node_modules/bootstrap-sass/assets/stylesheets";
//$images-path: "../images/";
// Core variables and mixins
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";
@import "partials/mixins/_dpl-mixins";
// include DPL mixins and DPL variables;
// Reset and dependencies
@import "partials/_normalize";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_print";
@import "partials/_icons";
// Core CSS
@import "partials/_scaffolding";
@import "partials/_type";
@import "partials/_code";
@import "partials/_grid";
@import "partials/_tables";
@import "partials/_forms";
@import "partials/_buttons";
// Components
@import "partials/_component-animations";
@import "partials/_dropdowns";
@import "partials/_button-groups";
@import "partials/_input-groups";
@import "partials/_navs";
@import "partials/_navbar";
@import "partials/_breadcrumbs";
@import "partials/_pagination";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "partials/_labels";
@import "partials/_badges";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "partials/_alerts";
@import "partials/_progress-bars";
@import "partials/_media";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/close";
// Bootstrap 4 backports
@import "partials/_cards";
// Components w/ JavaScript
@import "partials/_modals";
@import "partials/_tooltip";
@import "partials/_popovers";
@import "partials/_carousel";
// Utility classes
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

.form-control-feedback {
    height: floor(($font-size-base * $line-height-base)) + $padding-base-vertical * 2;
    width: $line-height-computed;
    top: $padding-base-vertical;
    bottom: $padding-base-vertical * 2;
left: floor(($font-size-base * $line-height-base));

}

/*==================================
older less
===================*/

//@import "#{$bootstrap-path}/less/carousel";
//
//// Custom 3rd party lib styles
//@import "vendor/_select2";
//@import "vendor/_datepicker";
//@import "vendor/_nouislider";
//@import "vendor/_timepicker";
//
//// Custom components
//@import "custom/_filters";
//@import "custom/_sliders";
//@import "custom/_load-spinners";
//@import "custom/_accordions";
//@import "custom/_tags";
//
//// Utility classes
//@import "_utilities"; // @import "#{$bootstrap-path}/less/utilities";
//@import "#{$bootstrap-path}/sass/responsive-utilities";
//
//// Custom flair
//@import "_flair"; // @import flair styling file
//
