{% include header.html %}
<div class="pl-header navbar navbar-inverse pl-no-sidebar">
    <div class="container-fluid">
        <ul class="nav navbar-nav nav-pills navbar-right">
            <li {% if page.title == 'Home' %} class="active" {% endif %} >
                <a href="{{ site.baseurl }}/index.html">Home</a>
            </li>
            <li {% if page.title == 'Applications' %} class="active" {% endif %}>
                <a href="{{site.baseurl}}/apps.html">Applications</a>
            </li>
            <li>
                <a href="{{site.repository.url}}" title="View on Github" ><i class="icon icon-inverse icon-github"></i> &nbsp; View on Github</a>
            </li>
        </ul>
    </div>
</div>
{{content}}
<div class="pl-help">
    &copy; Kitware, Inc.
</div>
{% include footer.html %}
