{% include header.html %}
    <header class="pl-header navbar navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{{site.homeurl}}/index.html" class="navbar-brand"><strong>KW</strong> <span class="light">Design</span></a>
                <button type="button" class="nav-collapse btn btn-link"><i class="icon icon-inverse icon-bars"></i></button>
                <button data-toggle="collapse" data-target="#pl-navbar-collapse" type="button" class="btn navbar-toggle collapsed"><i class="icon icon-inverse icon-angle-down"></i></button>
            </div>
            <div class="navbar-collapse collapse" id="pl-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if page.title == 'About' %} class="active" {% endif %} >
                        <a href="{{site.homeurl}}/">Home</a>
                    </li>
                    <li {% if page.title == 'Library' %} class="active" {% endif %} >
                        <a href="{{site.baseurl}}/apps/index.html">Applications</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ site.repository.url }}" title="View on Github" ><i class="icon icon-inverse icon-github"></i> &nbsp; View on Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="pl-container">
        <nav class="pl-sidebar">
            <ul class="nav nav-stacked">

                <li class="category">foundation</li>

                <li><a href="foundation/colors.html"> Colors </a></li>
                <li><a href="foundation/grid.html"> Grid </a></li>
                <li><a href="foundation/icons-legacy.html"> Icons (legacy) </a></li>
                <li><a href="foundation/icons.html"> Icons </a></li>
                <li><a href="foundation/layouts.html"> Layouts </a></li>
                <li><a href="foundation/links.html"> Links </a></li>
                <li><a href="foundation/typography.html"> Typography </a></li>

                <li class="category">components</li>

                <li><a href="components/alerts.html"> Alerts and notifications </a></li>
                <li><a href="components/breadcrumbs.html"> Breadcrumbs </a></li>
                <li><a href="components/buttons.html"> Buttons </a></li>
                <li><a href="components/collapsiblePanels.html"> Collapsible panels </a></li>
                <li><a href="components/dialogs.html"> Dialogs </a></li>
                <li><a href="components/formControls.html"> Form controls </a></li>
                <li><a href="components/forms.html"> Forms </a></li>
                <li><a href="components/labelsAndBadges.html"> Labels and badges </a></li>
                <li><a href="components/menus.html"> Menus </a></li>
                <li><a href="components/metadata.html"> Metadata </a></li>
                <li><a href="components/pagination.html"> Pagination </a></li>
                <li><a href="components/popovers.html"> Popovers </a></li>
                <li><a href="components/progressBars.html"> Progress and loading </a></li>
                <li><a href="components/stepIndicators.html"> Step indicators </a></li>
                <li><a href="components/tables.html"> Tables </a></li>
                <li><a href="components/tabs.html"> Tabs </a></li>
                <li><a href="components/tags.html"> Tags </a></li>
                <li><a href="components/tooltips.html"> Tooltips </a></li>

            </ul>
        </nav>
        <section class="pl-content">
            <noscript>
                <div class="pl-preview-header" style="margin-bottom: 0">
                    <div class="alert alert-danger" style="line-height: 25px;">
                        <p>For full functionality of this site it is necessary to enable JavaScript.</p>
                        <p>Here are the <a href="http://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>.</p>
                    </div>
                </div>
            </noscript>
            {% if page.preview == true %}
                <div class="pl-preview-header">This document is a preview.</div>
            {% endif %}
            {{ content }}
        </section>
    </div>
{% include footer.html %}
